<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jarvis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/font-awesome.min.css') }}">
   <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

</head>
<body>

<div class="container">
	<div class="row">
	<center>
		<div class="col-sm-12">
			<h1>MENU</h1>
		</div>
	</center>
	</div>
  <div class="row">
  	<div class="col-sm-4"></div>
  <div class="col-sm-4">
  	<center>

  	
  	<div class="row">
<div class="col-sm-6">
	<a onclick="portaosocial();" href="#"><i class="fa fa-bolt fa-4x" aria-hidden="true"></i><br>Abre portão</a>
</div>
<div class="col-sm-6">
	<a onclick="portaogaragem();" href="#"><span class="fa fa-bolt fa-4x">
  
	</span><br>Abre/Fecha garagem</a>
</div>
<div class="col-sm-6">
  <a onclick="ligaluz();" href="#"><span class="fa fa-bolt fa-4x">
  
  </span><br>Liga luz</a>
</div>
<div class="col-sm-6">
  <a onclick="desligaluz();" href="#"><span class="fa fa-bolt fa-4x">
  
  </span><br>Desliga luz</a>
</div>
  	</div>
  	<input type="text" name="enter" class="enter" value="" id="nome"/>
    <br><br>
  	<div class="row">
  	<div class="col-sm-12">
    <img src={{ url_for('static',filename="img/image.jpeg")}}>
    </div>
	 </div>
  
  	
  </center>
  </div>

  <div class="col-sm-4"></div>
  </div>
  <div class="row">
  	<center>
  		<div id="include" class="col-sm-12">
			
		</div>
  	</center>
  </div>


  <script>



function portaosocial(){
  var nome = $('#nome');
	$.get("http://localhost:5000/portaosocial/"+nome.val(), function(text) {
  msg = text;
  if(msg == "Acesso Negado!")
  {
  alert(msg);

  }
});

}

function portaogaragem(){
  var nome = $('#nome');

	$.get("http://localhost:5000/portaogaragem/"+nome.val(),function(text) {
  msg = text;
  if(msg == "Acesso Negado!")
  {
  alert(msg);
    
  }
});

}

function ligaluz()
{
  var nome = $('#nome');
  $.get("http://localhost:5000/ligaluz/"+nome.val(),function(text) {
  msg = text;
  if(msg == "Acesso Negado!")
  {
  alert(msg);
    
  }
});

}

function desligaluz()
{
  var nome = $('#nome');
  $.get("http://localhost:5000/desligaluz/"+nome.val(),function(text) {
  msg = text;
  if(msg == "Acesso Negado!")
  {
  alert(msg);
    
  }
});

}


  </script>

</body>
</html>