<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jarvis</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
  <script src="bootstrap/js/jquery.min.js"></script>
  <script src="bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="bootstrap/css/font-awesome.min.css">
   <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

</head>
<body>

<div class="container">
	<div class="row">
	<center>
		<div class="col-sm-12">
			<h1>MENU</h1>
		</div>
	</center>
	</div>
  <div class="row">
  	<div class="col-sm-4"></div>
  <div class="col-sm-4">
  	<center>
  		<div class="row">

  	<div class="col-sm-6">
  		<a onclick="ligaluz();" href="#"><i class="fa fa-lightbulb-o fa-4x" aria-hidden="true"></i><br>Ligar Luz</a>
  	<br>
  	</div>
  	<div class="col-sm-6">
  		<a onclick="desligaluz();" href="#"><span class="fa-stack fa-2x">
  <i class="fa fa-lightbulb-o fa-stack-1x"></i>
  <i class="fa fa-ban fa-stack-2x text-danger"></i> 
	</span><br>Desligar Luz</a>
  	<br>

  	  <br>
  	</div>
  	</div>
  	
  	<div class="row">
<div class="col-sm-6">
	<a onclick="ligapc();" href="#"><i class="fa fa-bolt fa-4x" aria-hidden="true"></i><br>Ligar Computador</a>
</div>
<div class="col-sm-6">
	<a onclick="desligapc();" href="#"><span class="fa-stack fa-2x">
  <i class="fa fa-bolt fa-stack-1x"></i>
  <i class="fa fa-ban fa-stack-2x text-danger"></i> 
	</span><br>Desligar Computador</a>
</div>
  	</div>
  	
  	
  	
	
  
  	
  </center>
  </div>

  <div class="col-sm-4"></div>
  </div>
  <div class="row">
  	<center>
  		<div id="include" class="col-sm-12">
			
		</div>
  	</center>
  </div>


  <script>

function ligaluz(){
	$.get("http://192.168.0.106:5000/liga");

}

function desligaluz(){
	$.get("http://192.168.0.106:5000/desliga");

}

function ligapc(){
	$.get("http://192.168.0.106:5000/pcliga");

}

function desligapc(){
	$.get("http://192.168.0.106:5000/pcdesliga");

}


  </script>

</body>
</html>